{% extends "base.html" %}

<!-- Announcement bar -->
<!-- {% block announce %}
  Consider follow <strong>@squidfunk</strong> on
  <a rel="me" href="https://fosstodon.org/@squidfunk">
    <span class="twemoji mastodon">
      {% include ".icons/fontawesome/brands/mastodon.svg" %}
    </span>
    <strong>Fosstodon</strong>
  </a>
  and
  <a href="https://twitter.com/squidfunk">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>, this wiki made possible thanks to his work.
{% endblock %} -->
